*,
html,
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    height: 100vh;
    width: 100%;

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.card{
    position: absolute;
    background-color: #55f;
    padding: 2rem;
    width: 50vw;
    border-radius: 16px;
    color: #fff;
    text-transform: capitalize;
}
.card h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}
.card h2{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.card p{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.btn{
    font-size: 1rem;
    padding: 1rem 1.75rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background: #4BB543;
    font-weight: 600;
}
@media(max-width:990px){
    .card{
        width: unset;
        left: 1rem;
        right: 1rem;
        margin:  auto;
    }
}
@media(max-width:600px){
    .card{
        padding: 2rem 1rem;
    }
    .card h1{
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .card h2{
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }
    .card p{
        font-size: 1rem;
    }       
    .card .btn{
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
    }
}

/* The Modal */

.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 1rem;

    background: rgba(0, 0, 0, 0.315);
    backdrop-filter: blur(2px);

    display: none;
    justify-content: center;
    align-items: flex-start;
    animation: anime 0.5s ease;
}

@keyframes anime{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.modal-container form{
    background-color: #fff;
    padding: 2rem 2rem;
    margin-top: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.103);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    animation: smol 0.5s linear;
}

@keyframes smol{
    0%{
        margin-top: -50vh;
    }
    100%{
        margin-top: 1rem;
    }
}

.modal-container form span{
    cursor: pointer;
    font-size: 3rem;
    top: -0.5rem;
    right: 0.5rem;
    position: absolute;
}
.modal-container form h3{
    font-size: 2rem;
    margin: 1.5rem 0;
}
.modal-container form input{
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    border-radius: 6px;
    font-size: 1.25rem;
}
.modal-container form button{
    margin-top: 1rem;
    letter-spacing: 1px;
}