html,
body{
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.body {
  background-image: url("https://m.media-amazon.com/images/M/MV5BMjhjMjM1M2ItY2I2MS00ZDljLWIzNGYtZjc3OGMzZmYzMzUwXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  display: flex;  
  align-items: center;
}
::-webkit-scrollbar{
  display: none;
}
.text {
  max-width: 50vw;
  margin-left: 1.5rem;
  border-radius: 6px;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.219);
  border: 1px solid #fff;
  backdrop-filter: blur(10px);
}
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #9e87ff;
  text-align: left;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.green {
  color: rgba(119, 255, 199, 0.8);
}

.red {
  color: red;
  opacity: 0.8;
}

.container {
  height: 200px;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 0;
}

.circle {
  height: 65px;
  width: 65px;
  position: absolute;
  background: rgba(119, 255, 199, 0.9);
  animation: move 2s linear infinite;
  border-radius: 50%;
  animation: vibration 4s infinite;
}
/*planet's vibration*/
@keyframes vibration {
  0% {
    top: 0%;
    animation-timing-function: ease-in-out;
  }
  50% {
    top: 3%;
    animation-timing-function: ease-in-out;
  }
  100% {
    top: 0%;
    animation-timing-function: ease-in-out;
  }
}

@keyframes satellite {
  0% {
    top: 40%;
    left: 30%;
    transform: scale(0.7);
    animation-timing-function: ease-out;
  }
  25% {
    top: -50%;
    left: -90%;
    z-index: 0;
    animation-timing-function: ease-in-out;
    transform: scale(1);
  }
  75% {
    top: 120%;
    left: 140%;
    z-index: 0;
    transform: scale(0.9);
    animation-timing-function: ease-in;
  }
  100% {
    top: 40%;
    left: 30%;
    z-index: -1;
    transform: scale(0.7);
    animation-timing-function: ease-out;
  }
}
/* the satellite */
.mark {
  position: relative;
  top: -30%;
  left: 0%;
  height: 25px;
  width: 25px;
  background: red;
  border-radius: 50%;
  margin: 0;
  z-index: -1;
  animation: satellite 2.5s linear infinite;
}
.box3{
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom-left-radius: 16px;
  backdrop-filter: blur(10px);
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.7);
}
.box3 a{
  margin: 0;
  font-size: 2.5rem;
  text-decoration: none;
  color: #66f;
}
.box3 a h4{
  margin: 0;
}


@media(max-width:600px){
  .container {
    top: unset;
    left: unset;
    right: 30%;
    bottom: 0;
  }
  .box3{
    background:transparent;
    backdrop-filter: none;
    border: none;
  }
  .text{
    padding: 1rem;
    padding-left: 1rem;
    height: auto;
    margin: 1rem 0.75rem;
    max-width: unset;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3px);
    width: 100%;
  }
  p{
    font-size: 3rem;
  }
}