.round2{
    background-color: grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-card{
    padding: 1.5rem;
    width: 500px;
    background: #fff;
}
.event-card #timer{
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0 0 0.5rem;
}
.event-card img{
    height: 300px;
    display: block;
    margin: auto;
}