.round2 {
  background-image: url("https://a-static.besthdwallpaper.com/squid-game-candy-licking-wallpaper-1366x768-81209_46.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.round2 {
  background-color: grey;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event-card {
  padding: 1.5rem;
  width: 500px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.event-card #timer {
  display: flex;
  justify-content: space-around;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1rem 0 0 0.5rem;
}
.event-card img {
  height: 300px;
  display: block;
  margin: auto;
}

.heading::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
}
