*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --color-secondary: #D72C5D;
  --color-background: #d8dbe2;
}
.footer {
  display: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background: var(--color-background);
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
  padding-bottom: 1.5rem;
}
img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

/* WRAPPER
  =========================== */
.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(1.5rem, 1fr) minmax(min-content, 1fr) minmax(
      1.5rem,
      1fr
    );
  grid-template-rows: auto 1fr auto;
}

/* NAVBAR
  =========================== */

.navbar {
  grid-column: 1 / -1;
  grid-row: 1/ 2;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  background: transparent !important;
}
.about {
  margin-left: auto;
  font-size: 2rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.5rem 0.5rem var(--color-secondary);
  font-weight: bold;
  position: relative;
  z-index: 1000;
  border: none;
  background: none;
  cursor: pointer;
}

.menu {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
}
.menu:after {
  content: "H";
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  left: 1rem;
  color: var(--color-secondary);
}

/* BUTTON
  =========================== */
.home-button {
  display: none;
}
.about-button {
  display: none;
}
.active {
  display: block;
}
/* MEDIA CODE
  =========================== */

.media.code {
  grid-column: 3 / 4;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* MEDIA
  =========================== */

.media {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul {
  /* align-self: end; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
ul::after {
  content: "";
  display: block;
  width: 2px;
  height: 5.5rem;
  margin: 0 auto;
  background-color: currentColor;
}

li {
  width: min(2.5rem, 48px);
  display: inline-block;
}
a {
  color: currentColor;
}

svg {
  transition: transform 0.6s ease;
}
a:hover svg {
  transform: translate(0, -0.5rem);
}

/* MAIN CONTENT
  =========================== */

.main-content {
  overflow: hidden;
  width: 80vw;
  height: max(80vh, 100%);
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: grid;
  margin-top: -1.5rem;
}

.section-about {
  grid-row: 1/2;
  grid-column: 1/ 2;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  visibility: hidden;
}

.section-home {
  grid-row: 1/2;
  grid-column: 1/ 2;
  display: grid;
  height: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
/*  */

.content__figure {
  position: relative;
  max-width: 48vw;
  justify-self: flex-end;
  margin-left: auto;
  /* margin-top: -5vw; */
}
.content__figure-caption {
  position: absolute;
  right: 100%;
  top: 1.5rem;
  margin-right: 2rem;
  text-align: right;
  width: 50%;
  font-size: 1rem;
  padding: 0;
}

.content__figure-img {
  margin-top: -5vw;
}

.content__paragraph {
  font-size: 7vmin;
  position: relative;
  overflow: hidden;
}
.content__paragraph--right {
  align-self: flex-end;
}

/* TEXT
  =========================== */
.text {
  grid-row: 1/2;
  grid-column: 1/ 2;
  padding: 1.5rem;
  position: relative;
  z-index: 1;
  width: 100%;
  height: min(100%, 80vh);
  display: flex;
  gap: 3.5vmax;
  overflow: hidden;
}

.text > * {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.hidetext {
  writing-mode: vertical-rl;
  text-align: left;
  white-space: nowrap;
}
lottie-player {
    width: 800px;
    height: 400px;
}
.text-title {
  position: relative;
  flex: 0 1 200px;
  overflow: hidden;
}
.text-heading {
  position: relative;
  flex: 0 1 10vmax;
}

h1 {
  font-size: clamp(3rem, 15vw, 120px);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
h2 {
  font-size: clamp(3rem, 15vw, 150px);
  color: var(--color-secondary);
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 7.5vmin;
  left: 2.5rem;
}

h3 {
  font-size: 3.5rem;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 4vmax 0;
}

h4 {
  font-size: 3rem;
  line-height: 1;
  position: absolute;
  overflow: hidden;
  padding: 0 0 5vmax 0;
  left: 2.1rem;
  letter-spacing: 3px;
  color: var(--color-secondary);
}

/* DISTORTION
  =========================== */
.distortion {
  width: clamp(300px, 100%, 614px);
  grid-row: 1/2;
  grid-column: 1/2;
  justify-self: end;
  margin-right: 1.5rem;
  position: relative;
}

@media (max-width: 930px) {
  .text {
    justify-content: space-between;
  }
  .text-heading {
    align-self: flex-end;
  }
  lottie-player {
    width: 280px;
    height: 280px;
}
}

@media (max-width: 830px) {
  .hidetext {
    writing-mode: initial;
  }
  .text {
    flex-direction: column;
  }
  .text-title {
    align-items: flex-start;
  }
  h4 {
    left: 0.5rem;
    padding: 5vmax 0.5rem 0.5vmin 0;
    letter-spacing: initial;
  }
  h3 {
    padding: 0 1rem 4vmax 0;
  }
}

@media (max-width: 420px) {
  .media.code {
    display: none;
  }
  .media {
    margin-top: 1.5rem;
    grid-row: 3/4;
    grid-column: 2/ 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    flex-direction: row;
  }
  ul::after {
    display: none;
    justify-content: center;
  }
  li {
    display: flex;
    justify-content: center;
  }
  a {
    display: flex;
    align-items: center;
  }
  svg {
    width: 24px;
    height: 24px;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
    padding: 5vmax 0.5rem 5vmin 0;
  }
  .section-home,
  .section-about {
    margin-top: 5vh;
  }
  .content__figure {
    margin-top: 10vw;
  }
  .content__figure-caption {
    line-height: 1.3;
    width: auto;
  }
}

/* OVERLAY
=========================== */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: 99;
}

.first {
  background: var(--color-secondary);
}

.second {
  background: var(--color-secondary);
  left: 33.3%;
}

.third {
  background: var(--color-secondary);
  left: 66.6%;
}

.landingpage{
    background-image: url("https://images.wallpapersden.com/image/download/squid-game-worker-digital_bWVlZm2UmZqaraWkpJRobWllrWdma2U.jpg");
}