<h1>This is the landing page of our event</h1>
<br>

<div style="display: flex;">
  <div>
{% if request.user.is_authenticated %}
<h1>User Authenticated</h1>
<br><br>
<img src="{{ auth0User.extra_data.picture }}" />
<p>{{ user.first_name }}</p>
<p>{{ auth0User.extra_data.email }}</p>
<br><br>
<button>
  <a href="/logout"> Logout </a>
</button>

{% else %} 

<h1>User Unauthenticted</h1>
<br><br>
<button><a href="/login/auth0">Login Here</a></button>
{% endif %}
</div>
<div>
<p>Status -1 means event is about to start</p>
<p>Status 0 means event is ongoing</p>
<p>Status 1 means event is over</p>

{% if status == -1 %}{% include 'comingsoon.html' %}{% endif %}
{% if status == 0 %}{% include 'ongoing.html' %}{% endif %}
{% if status == 1 %}{% include 'eventover.html' %}{% endif %}
</div>
</div>
