{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PRAKRITI | Squid Game</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/round2wait.css' %}">
    </head>

    <body>
        <div class="body">
        <div class="box3">
            <a href="/">
                <h4 class="follow">
                    Home
                </h4>
            </a>
        </div>
        <div class="text">
            <p>We're reviewing <br> your candy <br> if it breaks. <span class="red">You</span>,
                <br> will
                die.
                <br>
                <span class="red">That's right</span>,
                <span class="green">YOU DIE</span>
            </p>
        </div>

        <div class="container">
            <div class="circle">
                <div class="mark"></div>
            </div>
        </div>
    </div>
    </body>

</html>
