body {
  background: blueviolet;
}

.text {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 10%;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  color: #9e87ff;
  text-align: left;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.green {
  color: rgba(119, 255, 199, 0.8);
}

.red {
  color: red;
  opacity: 0.8;
}

.container {
  width: 400px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 40%;
  z-index: 0;
}

/* .container:after{
  content: "";
  height: 12px;
  width: 67px;
  border-radius: 50%;
  background: radial-gradient(black 35%, transparent 95%);
  opacity: 1;
  position: absolute;
  bottom: 30%;
  z-index: 1;
} */

.circle {
  height: 65px;
  width: 65px;
  position: absolute;
  background: rgba(119, 255, 199, 0.9);
  animation: move 2s linear infinite;
  border-radius: 50%;
  animation: vibration 4s infinite;
}
/*planet's vibration*/
@keyframes vibration {
  0% {
    top: 0%;
    animation-timing-function: ease-in-out;
  }
  50% {
    top: 3%;
    animation-timing-function: ease-in-out;
  }
  100% {
    top: 0%;
    animation-timing-function: ease-in-out;
  }
}

/* @keyframes move{
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0);
  }
  
  100% {
    transform-origin:  50% 50%;
    transform: rotate(360deg);
  }
} */

@keyframes satellite {
  0% {
    top: 40%;
    left: 30%;
    transform: scale(0.7);
    animation-timing-function: ease-out;
  }
  25% {
    top: -50%;
    left: -90%;
    z-index: 0;
    animation-timing-function: ease-in-out;
    transform: scale(1);
  }
  75% {
    top: 120%;
    left: 140%;
    z-index: 0;
    transform: scale(0.9);
    animation-timing-function: ease-in;
  }
  100% {
    top: 40%;
    left: 30%;
    z-index: -1;
    transform: scale(0.7);
    animation-timing-function: ease-out;
  }
}
/* the satellite */
.mark {
  position: relative;
  top: -30%;
  left: 0%;
  height: 25px;
  width: 25px;
  background: red;
  border-radius: 50%;
  margin: 0;
  z-index: -1;
  animation: satellite 2.5s linear infinite;
}
